ion-slide {
  height: 100%;
  flex-direction: column;
}
ion-slides {
  height: 100%;
}
ion-img {
  max-width: 50vw;
  max-height: 50vh;
  overflow: hidden;
}


.step-one {
  background: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}

.step-two {
  background: #6770e7;
  color: var(--ion-color-success-contrast);
 box-shadow: #1e2023;

}
.step-four {
  background: #ffd101;
  color: #5d6480
}

.step-three {
  background: var(--ion-color-dark);
  color: var(--ion-color-dark-contrast);
}
