<ion-slides pager="true">

  <ion-slide class="step-two">
    <ion-img src="/assets/icon/invoice.png"></ion-img>
    <h1>Milf</h1>
    <p>Cum In Seconds</p>
  </ion-slide>

  <ion-slide class="step-four">
    <ion-img src="/assets/icon/credit-card.png"></ion-img>
    <h1>Big Tit coins</h1>
    <p>Fuck Yeh!</p>
  </ion-slide>

  <ion-slide class="step-three">
    <ion-img src="/assets/icon/wide-logo.png"></ion-img>
    <h1>Go Fuck</h1>
    <p>No Body Does It Better</p>
    <ion-button (click)="finish()">Let's Start!</ion-button>
  </ion-slide>
</ion-slides>
